body
{
    background-image: url("IMG-20221021-WA0002.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 40%;
    margin-left: 30%;
    font-style: oblique;
    font-size: 50px;
}
h6{
   
    margin-left: 33%;
}
button
{
    margin-left: 40%;
}
h5
{
    margin-top: 30%;
    margin-left: 50%;
}
h2 {
    
    background-color: rgba(112, 112, 112, 0.8);
    padding: 5px 5px;
    
    margin-top: 5%;
    margin-left: 10%;
    color: rgb(255,255,255);
    border: 2px solid white;
    border-radius: 20px;
}
.logo {
    text-decoration: none;
    font-size: 300px;
    font-family: inherit;
    font-weight: 900;
    margin: 20px;
    color: inherit;
}