body
{
    background-image: url("WhatsApp Image 2022-10-23 at 8.52.38 PM.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 40%;
    margin-left: 20%;
    font-style: oblique;
    font-size: 50px;
    color: blue;
}
h6{
   
    margin-left: 25%;
}
button
{
    margin-left: 40%;
    background-color: black;
}
.shadoBtn{
    width: 120px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: relative;
   
    
}
.shadoBtn:hover
{
    background-color: white;
    color: black;
    transition: ls ease;
    
}
.shadoBtn::before
{
    content: '';
    position: absolute;
    
    background: transparent;
    height: 50%;
    width: 100%;
    transform: perspective(lem) rotateX(40deg) scale(1, 0.35);
    filter: blur(8px);
    transition: ls ease;
}
.shadoBtn:hover::before
{
    background: white;
    top: 70%;
    
}
h5
{
    margin-top: 30%;
    margin-left: 50%;
}
h2 {
    
    background-color: rgba(112, 112, 112, 0.8);
    padding: 5px 5px;
    
    margin-top: 5%;
    margin-left: 10%;
    color: rgb(255,255,255);
    border: 2px solid white;
    border-radius: 20px;
}
.logo {
    text-decoration: none;
    font-size: 300px;
    font-family: inherit;
    font-weight: 900;
    margin: 20px;
    color: inherit;
}